@using VideoGameStore.Data.Enums;
@model VideoGameVM

@{
    ViewData["Title"] = "Video game details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h3 class="card-title">
                                @Model.Title
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i></a>
                                }
                            </h3>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Developer: </b>
                            <a asp-controller="Developers" asp-action="Details" asp-route-id="@Model.DeveloperId">
                                @Model.Developer.CompanyName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>
                            @foreach (var value in @Model.GameGenres)
                            {
                                @value<b> </b>
                            }
                        </p>
                        <p class="card-text">
                            <b>Age Rating: </b>
                            @*Using the EnumHelper Class to show the display name of the age rating instead
                            of the enum value.*@
                            @foreach (var value in @EnumHelper<GameAgeRating>.GetValues(GameAgeRating.RP))
                            {
                                if (value == Model.GameAgeRating)
                                {
                                    var description = EnumHelper<GameAgeRating>.GetDisplayValue(value);
                                    @Html.DisplayFor(e => description );
                                }
                            }
                        </p>
                        <p class="card-text"><b>Release Date: </b>@Model.ReleaseDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.ReleaseDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                            <hr />
                            <b>Publishers: </b>
                            <div class="row">
                                @foreach (var publisher in Model.Publishers_VideoGames)
                                {
                                    <div class="column text-md-start">
                                        <img class="border-info rounded" src="@publisher.Publisher.LogoURL" style="max-width: 150px" />
                                        <a asp-controller="Publishers" asp-action="Details" asp-route-id="@publisher.PublisherId">@publisher.Publisher.CompanyName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-info float-right" asp-action="Index">Back to List</a>
                            @if (DateTime.Now >= Model.ReleaseDate)
                            {
                                if (Model.Discount != "")
                                {
                                    @*ToDo: need to return discount to cart.*@
                                    <b class="discount_pct"> - @Model.Discount</b>
                                    <b class="discount_original_price">@Model.Price.ToString("c")</b>
                                    <a class="btn btn-success text-white" asp-controller="Orders"
                                        asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.DiscountedPrice)
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success text-white" asp-controller="Orders"
                                        asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))
                                    </a>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>