@using VideoGameStore.Data.Enums;
@model VideoGameVM

<div class="video-game-element">
    <a asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.ImageURL"alt="">
    </a>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="card-header text-white bg-info">
            <p class="card-text">
                <a asp-action="Details" asp-route-id="@Model.Id" style="color: white">
                   <h3 class="card-title" asp-action="Details" asp-route-id="@Model.Id">
                    @Model.Title
                </h3>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-body">
            <p class="card-text">
        @if (Model.Description.Length > 100)
                {
                    @(Model.Description.Substring(0, 100) + "...");
                }
                else
                {
                    @Model.Description;
                }
            </p>
            <p class="card-text"><b>Genre: </b>
                @foreach (var value in @Model.GameGenres)
                {
                    @value<b> </b>
                }
            </p>
            <p class="card-text">
                <b>Age Rating: </b>
                @*Using the EnumHelper Class to show the display name of the age rating instead
                of the enum value.*@
                @foreach (var value in @EnumHelper<GameAgeRating>.GetValues(GameAgeRating.RP))
                {
                    if (value == Model.GameAgeRating)
                    {
                        var description = EnumHelper<GameAgeRating>.GetDisplayValue(value);
                        @Html.DisplayFor(e => description );
                    }
                }
            </p>
            <p class="card-text"><b>Release Date: </b>@Model.ReleaseDate.ToString("dd MMM yy")</p>
            <p class="card-text ">
                <b>Status: </b>
                @if (DateTime.Now >= Model.ReleaseDate)
                {
                    <span class="badge bg-success text-white">AVAILABLE</span>
                }
                else
                {
                    <span class="badge bg-primary text-white">UPCOMING</span>
                }
            </p>
        </div>
    </div>
</div>
