@using VideoGameStore.Data.Enums;

@{
    var previousMinPrice = ViewBag.MinPrice;
    var previousMaxPrice = ViewBag.MaxPrice;
    var previousGameAgeRating = ViewBag.GameAgeRating;
    var previousGameGenre = ViewBag.GameGenre;

    var previousPublisher = ViewBag.Publisher;
    var previousDeveloper = ViewBag.Developer;

    var previousMinPriceDescription = "";
    var previousMaxPriceDescription = "";
    var previousGameAgeRatingDescription = "";
    var previousGameGenreDescription = "";

    var previousPublisherDescription = ViewBag.previousPublisherDescription;
    var previousDeveloperDescription = ViewBag.previousDeveloperDescription;

    var sortOrder = ViewBag.TitleSortParm;

    // Using EnumHelper to get the display strings of the used enums.
    foreach (var value in @EnumHelper<PriceRange>.GetValues(PriceRange.Free))
    {
        if (value == previousMinPrice)
        {
            previousMinPriceDescription = EnumHelper<PriceRange>.GetDisplayValue(value);
        }
    }
    foreach (var value in @EnumHelper<PriceRange>.GetValues(PriceRange.NoMax))
    {
        if (value == previousMaxPrice)
        {
            previousMaxPriceDescription = EnumHelper<PriceRange>.GetDisplayValue(value);
        }
    }
    foreach (var value in @EnumHelper<GameAgeRating>.GetValues(GameAgeRating.RP))
    {
        if (value == previousGameAgeRating)
        {
            previousGameAgeRatingDescription = EnumHelper<GameAgeRating>.GetDisplayValue(value);
        }
    }
    foreach (var value in @EnumHelper<GameGenre>.GetValues(GameGenre.Action))
    {
        if (value == previousGameGenre)
        {
            previousGameGenreDescription = EnumHelper<GameGenre>.GetDisplayValue(value);
        }
    }
}


@using (Html.BeginForm("Filter", "VideoGames", new { currentFilter = ViewBag.CurrentFilter }))
{
    <h4>APPLY A FILTER: </h4>
    <div class="row" style="max-width: 1100px">
        <div class="col">
            <label for="MinPrice">Min Price: </label>
            <select id="MinPrice" name="MinPrice" class="form-control" asp-items="Html.GetEnumSelectList<PriceRange>()">
                <option value="@previousMinPrice" selected>@previousMinPriceDescription</option>
            </select>
        </div>
        <div class="col">
            <label for="MaxPrice">Max Price: </label>
            <select id="MaxPrice" name="MaxPrice" class="form-control" asp-items="Html.GetEnumSelectList<PriceRange>()">
                <option value="@previousMaxPrice" selected>@previousMaxPriceDescription</option>
            </select>
        </div>
        <div class="col">
            <label for="GameAgeRating">Game Age Rating: </label>
            <select id="GameAgeRating" name="GameAgeRating" class="form-control" asp-items="Html.GetEnumSelectList<GameAgeRating>()">
                @if (previousGameAgeRatingDescription != "")
                {
                    <option value="@previousGameAgeRating" selected>@previousGameAgeRatingDescription</option>
                    <option value=""></option>
                }
                else
                {
                    <option value="" selected></option>
                }
            </select>
        </div>
        <div class="col">
            <label for="GameGenre">Game Genre: </label>
            <select id="GameGenre" name="GameGenre" class="form-control" asp-items="Html.GetEnumSelectList<GameGenre>()">
                @if (previousGameGenreDescription != "")
                {
                    <option value="@previousGameGenre" selected>@previousGameGenreDescription</option>
                    <option value=""></option>
                }
                else
                {
                    <option value="" selected></option>
                }
            </select>
        </div>

        <div class="col">
            <label for="Publisher">Publisher: </label>
            <select id="Publisher" name="Publisher" class="form-control" asp-items="ViewBag.Publishers">
                @if (previousPublisherDescription != "")
                {
                    <option value="@previousPublisher" selected>@previousPublisherDescription</option>
                    <option value=""></option>
                }
                else
                {
                    <option value="" selected></option>
                }
            </select>
        </div>
        <div class="col">
            <label for="Developer">Developer: </label>
            <select id="Developer" name="Developer" class="form-control" asp-items="ViewBag.Developers">
                @if (previousDeveloperDescription != "")
                {
                    <option value="@previousDeveloper" selected>@previousDeveloperDescription</option>
                    <option value=""></option>
                }
                else
                {
                    <option value="" selected></option>
                }
            </select>
        </div>

        <div class="col">
            <input class="btn btn-outline-success" type="submit" value="Filter" />
            @if (sortOrder != "")
            {
                <a class="btn btn-outline-info" onclick="location.href='@Url.Action( "Filter", "VideoGames",
                    new { sortOrder = "", currentFilter = ViewBag.CurrentFilter })';
                    return false;"><i class="bi bi-sort-alpha-down"></i>Perform ascending sort
                </a>
            }
            else
            {
                <a class="btn btn-outline-info" onclick="location.href='@Url.Action( "Filter", "VideoGames",
                    new { sortOrder = "title_desc", currentFilter = ViewBag.CurrentFilter })';
                    return false;">
                    <i class="bi bi-sort-alpha-down-alt"></i>Perform descending sort
                </a>
            }
            @*<select id="sortOrder" name="sortOrder" class="form-control">
                @if (sortOrder != "")
                {
                    <option value="@sortOrder" selected>&#xF570; descending</option>
                    <option value=""><i class="bi bi-sort-alpha-down"></i>ascending</option>
                }
                else
                {
                    <option value=""><i class="bi bi-sort-alpha-down"></i>ascending</option>
                    <option value="title_desc">&#xF570; descending</option>
                }

            </select>*@
        </div>
    </div>
}
